.menu-content {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 92vh;
  background-image: url('../../assets/menu-bg.jpeg');
  background-size: cover;
}

.menu-section {
  margin: 4rem;
  width: 14vw;
  height: 40vh;
  text-align: center;
  border-radius: 1rem;
  transition: all .15s;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  background-color: beige;
  cursor: pointer;
  box-shadow: 0.5rem 0.5rem 8px black;
}

.menu-section:hover {
  transform: scale(1.125);
}

.menu-section:active {
  transform: scale(1.025);
}

.menu-option {
  font-size: 3rem;
  font-family: 'Qanelas Bold';
  padding: 1rem;
  color: #d2ee91;
  -webkit-text-stroke: 1px black;
}

.menu-item-1 {
  background-image: url('../../assets/tank-menu-bg.jpg');
  background-size: contain;
  background-position: center;
}

.menu-item-2 {
  background-image: url('../../assets/quest-menu-bg.jpg');
  background-position: center;
}

.menu-item-3 {
  background-image: url('../../assets/city-menu-bg.gif');
  background-position: center;
}