.App {
  width: 100%;
  margin: auto;
}

@font-face {
  font-family: "Linotte-Heavy"; 
  src: local("Linotte-Heavy"),
    url("./assets/fonts/Linotte-Heavy.otf") format("truetype");
}

@font-face {
  font-family: "Linotte-Bold"; 
  src: local("Linotte-Bold"),
    url("./assets/fonts/Linotte-Bold.otf") format("truetype");
}

@font-face {
  font-family: "Linotte-Light"; 
  src: local("Linotte-Light"),
    url("./assets/fonts/Linotte-Light.otf") format("truetype");
}

@font-face {
  font-family: "Linotte-Regular"; 
  src: local("Linotte-Regular"),
    url("./assets/fonts/Linotte-Regular.otf") format("truetype");
}

@font-face {
  font-family: "Linotte-SemiBold"; 
  src: local("Linotte-SemiBold"),
    url("./assets/fonts/Linotte-SemiBold.otf") format("truetype");
}

@font-face {
  font-family: "Improvie"; 
  src: local("IMPROVIE_Regular"),
    url("./assets/fonts/Improvie.otf") format("truetype");
}

@font-face {
  font-family: "Peace Sans"; 
  src: local("Peace Sans"),
    url("./assets/fonts/Peace-Sans-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Qanelas Bold"; 
  src: local("Qanelas Bold"),
    url("./assets/fonts/Qanelas-Bold.ttf") format("truetype");
}

@font-face {
  font-family: "scoreboard"; 
  src: local("Score Board"),
    url("./assets/fonts/scoreboard.ttf") format("truetype");
}